Source: deepin-desktop-environment
Section: metapackages
Priority: standard
Maintainer: LinuxDeepin Project <linuxdeepin@linuxdeepin.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.linuxdeepin.com


Package: deepin-desktop-environment-base
Architecture: any
Depends: ${misc:Depends},
  adduser,
  apt,
  apt-utils,
  base-files,
  base-passwd,
  bash,
  bsdutils,
  coreutils,
  dash,
  debconf,
  debianutils,
  deepin-keyring,
  diffutils,
  dpkg,
  e2fsprogs,
  fdisk,
  findutils,
  gcc,  
  gcc-11,
  gcc-11-base,
  gpgv,
  grep,
  gzip,
  hostname,
  init,
  libacl1,
  libattr1,
  libaudit1,
  libbz2-1.0,
  libc-bin,
  libc6,
  libcap-ng0,
  libdebconfclient0,
  libgcrypt20,
  libgmp10,
  libgnutls30,
  libgpg-error0,
  libidn2-0,
  liblocale-gettext-perl,
  liblz4-1,
  liblzma5,
  libncurses6,
  libp11-kit0,
  libpam-runtime,
  libpcre3,
  libselinux1,
  libstdc++6,
  libunistring2,
  libzstd1,
  login,
  lsb-base,
  mawk,
  mount,
  ncurses-base,
  ncurses-bin,
  passwd,
  perl-base,
  sed,
  sensible-utils,
  systemd,
  tar,
  tzdata,
  udev,
  util-linux,
  zlib1g,
  libzip4,
  unrar,
  pciutils
Recommends:
  libffi6,
  libsepol1,
  libsemanage1,
  libnettle6
Description: Deepin New Desktop Environment - Next
 This is a base meta package depends Deepin New Desktop Envrionment.
 .
 You can safety remove it after installed.

Package: deepin-desktop-environment-cli
Architecture: any
Depends: ${misc:Depends},
  accountsservice,
  acpid,
  alsa-utils,
  bluez,
  dbus-user-session,
  dbus-x11,
  dialog,
  dmidecode,
  dnsutils,
  file,
  gcr,
  grub-common,
  os-prober,
  initramfs-tools,
  laptop-mode-tools,
  less,
  libc6-dev,
  libglib2.0-bin,
  libimobiledevice-utils,
  libmtp-runtime,
  live-config,
  locales,
  lvm2,
  man-db,
  network-manager,
  ostree,
  pkg-config,
  pulseaudio,
  pulseaudio-module-bluetooth,
  alsa-ucm-conf,
  alsa-topology-conf,
  rzip,
  sudo,
  unace,
  unalz,
  unar,
  unzip,
  vim,
  xdg-user-dirs,
  xdg-utils,
  xz-utils,
  zip,
  apt-transport-https,
  arj,
  avfs,
  bash-completion,
  cifs-utils,
  crda,
  dbus,
  dkms,
  dpkg-dev,
  efibootmgr,
  exfat-fuse,
  exfat-utils,
  foomatic-db-compressed-ppds,
  foomatic-db-engine,
  fprintd,
  geoclue-2.0,
  gtk2-engines,
  gtk2-engines-murrine,
  gtk2-engines-pixbuf,
  gvfs-backends,
  gvfs-fuse,
  hdparm,
  iio-sensor-proxy,
  im-config,
  ipheth-utils,
  lhasa,
  libboost-regex1.74.0,
  libboost-thread1.74.0,
  libfile-mimeinfo-perl,
  libimobiledevice-dev,
  libncurses5,
  libnss-myhostname,
  libpam-fprintd,
  libpam-gnome-keyring,
  libpulse-mainloop-glib0,
  libqt5svg5,
  libtirpc3,
  libtirpc-common,
  libvdpau1,
  linux-firmware,
  lsb-release,
  modemmanager,
  ncompress,
  net-tools,
  onboard,
  openprinting-ppds,
  plymouth,
  pppoe,
  proxychains4,
  pulseaudio-utils,
  python3-dbus,
  python3-dnspython,
  python3-gi,
  python3-ldb,
  python3-samba,
  python3-smbc,
  python3-tdb,
  python-is-python3,
  qdbus,
  qml-module-org-kde-kquickcontrolsaddons,
  qml-module-qtquick-controls2-styles-chameleon,
  qttranslations5-l10n,
  redshift,
  rfkill,
  sdparm,
  slirp4netns,
  smbclient,
  tdb-tools,
  usb-modeswitch,
  usbmuxd,
  usbutils,
  user-setup,
  wireless-tools,
  xserver-xorg-core,
  xserver-xorg-input-all,
  rsync,
  librsvg2-bin,
  realtek-wifi-dkms
Recommends:
  aptitude,
  hostapd,
  lz4,
  lzip,
  lzma,
  lzop,
  xorg,
  xserver-xorg-input-wacom
Description: Deepin New Desktop Environment - Next
 This is a cli meta package depends Deepin New Desktop Envrionment.
 .
 You can safety remove it after installed.

Package: deepin-desktop-environment-core
Architecture: any
Depends: ${misc:Depends},
 dde-clipboard,
 dde-control-center,
 dde-desktop,
 dde-dock,
 dde-file-manager,
 dde-launcher,
 dde-qt5integration,
 dde-session-ui,
 deepin-default-settings,
 deepin-desktop-base,
 deepin-icon-theme,
 deepin-desktop-theme,
 deepin-terminal,
 deepin-upgrade-manager,
 lightdm,
 plymouth-theme-deepin-logo,
 startdde,
 lastore-daemon,
 deepin-face,
 dde-wldpms,
 dde-wloutput,
 dde-wloutput-daemon,
 dde-wayland-config,
 kwayland-data,
 deepin-authenticate,
 dde-daemon,
 dde-session-shell,
 deepin-desktop-schemas,
 deepin-kwin-x11,
 deepin-kwin-wayland,
 dde-session,
 dde-permission-manager,
 dde-application-manager,
 dde-api-proxy
Recommends:
 cups,
 ttf-deepin-opensymbol
Description: Deepin New Desktop Environment - Next
 This is a dde package depends Deepin New Desktop Envrionment.
 .
 You can safety remove it after installed.


Package: deepin-desktop-environment-extras
Architecture: any
Depends: ${misc:Depends},
 libdareader1,
 deepin-desktop-environment-core,
 dde-dconfig-daemon,
 dde-qt5wayland-plugin,
 dde-manual-content,
 dcc-network-plugin,
 dock-network-plugin,
 dss-network-plugin,
# com.deepin.gomoku,
# com.deepin.lianliankan,
 deepin-log-viewer,
 deepin-dvsrv,
 linglong-bin,
 linglong-box,
# linglong-fuse-proxy,
# uos-service-support,
# org.deepin.browser,
# deepin-mail,
 dde-printer,
# libpam-deepin-security,
 deepin-boot-maker,
 deepin-sync-daemon,
# deepin-album,
# deepin-draw,
# deepin-image-viewer,
 deepin-ocr,
 deepin-picker,
# libimageeditor,
# deepin-camera,
# deepin-screen-recorder,
# deepin-movie,
 uos-license-content,
 linglong-loader,
 linglong-installer,
 dde-api,
 dde-account-faces,
 dde-disk-mount-plugin,
 dde-dock-onboard-plugin,
 dde-cooperation,
 deepin-shortcut-viewer,
 libepoxy0,
 libgbm1,
 libkf5i18n5,
 libkf5waylandclient5,
 libkf5waylandserver5,
 libkf5windowsystem5,
 fonts-lohit-deva,
 fonts-noto,
 fonts-noto-cjk,
 fonts-noto-mono,
 fonts-noto-unhinted,
 cups,
 cups-filters,
 libcupsimage2,
 cups-bsd,
 samba,
 samba-common-bin,
 samba-dsdb-modules,
 samba-vfs-modules,
# dde-calendar,
 dde-introduction,
# deepin-calculator,
 deepin-deb-installer,
 deepin-deepinid-client,
 deepin-devicemanager,
 deepin-diskmanager,
# deepin-editor,
 deepin-font-manager,
# deepin-music,
# deepin-reader,
 deepin-system-monitor,
 org.deepin.downloader,
 dde-grand-search,
 deepin-screensaver,
 dde-widgets,
 deepin-feedback,
# org.deepin.browser,
# deepin-manual,
 deepin-voice-note,
 simple-scan,
 cryptsetup-initramfs,
 systemd-timesyncd,
# 20221011
 libimageeditor,
 libudfburn,
 uimg-installer,
 uos-recovery,
 deepin-app-store,
 deepin-home-appstore-daemon,
 deepin-app-store-runtime,
 deepin-anything-server[i386 amd64],
 dde-desktop-plugins,
 dde-file-manager-plugins,
 dde-file-manager-common-plugins,
 dde-file-manager-daemon-plugins,
 dde-file-manager-preview-plugins,
 deepin-home,
 dde-device-formatter,
 libblockdev-crypto2
Description: Deepin New Desktop Environment - Next
 This is a extras package depends Deepin New Desktop Envrionment.
 . 
 This package installs the standard set of applications that are
 part of the official deepin release.
 You can safety remove it after installed.

Package: deepin-desktop-environment-ll
Architecture: any
Depends: ${misc:Depends}
Pre-Depends: linglong-bin, base-files
Description: Deepin New Desktop Environment - Next
 This is a ll package depends Deepin New Desktop Envrionment.
 . 
 This package installs the standard set of applications that are
 part of the official deepin release.
 You can safety remove it after installed.
